
.about-us {
  margin-top: 70px;
}

.about-us__title {
  font-family: $font-bold;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  margin-top: 25px;
  color: #000;
}

.about-us__list {
  @include reset-list;
}

.about-us__item {
  font-family: $font-bold;
  font-size: 17px;
  line-height: 20px;
  margin-top: 25px;
  color: #000;

  &::before {
    display: block;
    margin-bottom: 10px;
  }

  &--icon1::before {
    content: url('../img/icon1.svg');
  }

  &--icon2::before {
    content: url('../img/icon2.svg');
  }

  &--icon3::before {
    content: url('../img/icon3.svg');
  }

  &--icon4::before {
    content: url('../img/icon4.svg');
  }

  &--icon5::before {
    content: url('../img/icon5.svg');
  }

  &--icon6::before {
    content: url('../img/icon6.svg');
  }
}

@media (min-width: $tablet-width) {
  .about-us {
    margin-top: 120px;
  }

  .about-us__title {
    font-size: 43px;
    line-height: 50px;
    margin: 0;
    margin-bottom: 40px;
  }

  .about-us__list {
    display: flex;
    justify-content: space-between;
  }

  .about-us__column-left,
  .about-us__column-right {
    width: 334px;
  }

  .about-us__item {
    margin-top: 0px;
    margin-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    width: 700px;
    padding: 0 175px;
    margin-top: 155px;
  }

  .about-us__title {
    font-size: 53px;
    line-height: 57px;
  }

  .about-us__column-left,
  .about-us__column-right {
    width: 350px;
  }

  .about-us__item {
    font-size: 20px;
    line-height: 22px;
  }
}
