
.contacts {
  margin-top: 75px;
}

.contacts__title {
  font-family: $font-bold;
  font-size: 18px;
  line-height: 30px;
}

.contacts__info {
  line-height: 30px;
  margin-bottom: 35px;
}

.contacts__email,
.contacts__address {
  display: flex;
}

.contacts__email a:last-of-type,
.contacts__address span:last-of-type {
  margin-left: 30px;
}

.contacts__email {
  margin: 30px 0;
  a {
    color: #444444;
    border-bottom: 1px solid $light-green;
  }
}

.contacts__write1 {
  display: none;
}

.contacts__write2 {
  margin: 40px auto;
}

.contacts__image {
  height: 455px;

  &--tablet {
    display: none;
  }

  &--desktop {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    margin-top: 145px;
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    color: #000;
    margin-bottom: 50px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: -18px;
      right: 46px;
      width: 4px;
      height: 81px;
      background-color: #000000;
    }

    &::after {
      content: '';
      position: absolute;
      top: -14px;
      right: 3px;
      width: 0;
      height: 0;
      border-top: 20px solid transparent;
      border-left: 40px solid $light-green;
      border-bottom: 20px solid transparent;
    }
  }

  .contacts__info {
    display: flex;
    align-items: flex-start;
    margin-bottom: 55px;
  }

  .contacts__email {
    margin: 0;
  }

  .contacts__image {
    width: 100%;

    &--mobile {
      display: none;
    }

    &--tablet {
      display: flex;
    }

    &--desktop {
      display: none;
    }
  }

  .contacts__write2 {
    display: block;
    width: 230px;
    margin: 55px auto;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    display: flex;
    width: 1050px;
    margin: 0 auto;
    margin-top: 160px;
    margin-bottom: 105px;
  }

  .contacts__wrapper {
    width: 525px;
    padding-top: 60px;
    padding-left: 175px;
    box-sizing: border-box;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;

    &::before {
      top: -15px;
      left: -108px;
    }

    &::after {
      top: -11px;
      left: -100px;
    }
  }

  .contacts__image {
    width: 525px;

    &--tablet {
      display: none;
    }

    &--desktop {
      display: flex;
    }
  }

  .contacts__info {
    flex-direction: column;
    font-size: 17px;
    margin-bottom: 80px;
  }

  .contacts__email {
    margin-bottom: 30px;
  }

  .contacts__write1 {
    display: flex;
    justify-content: center;
    width: 230px;
    margin: 0;
    border: 2px solid #000000;
  }

  .contacts__write2 {
    display: none;
  }

  .contacts__desktop-display-none {
    display: none;
  }
}
