
.reviews {
  display: flex;
  flex-direction: column;
  margin-top: 55px;
  position: relative;

  &::after {
    content: url('../img/wavy-line.svg');
    position: absolute;
    bottom: -30px;
    left: -30px;
    height: 7px;
  }
}

.reviews__title {
  font-family: $font-bold;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 25px;
  color: #000000;;
}

.reviews__list {
  @include reset-list;
}

.reviews__text {
  line-height: 30px;
  margin: 0;
  margin-bottom: 25px;
}

.reviews__author-name {
  font-family: $font-bold;
  font-size: 17px;
  display: block;
  margin-bottom: 5px;
  color: #000;
}

.reviews__author-id {
  font-size: 17px;
}

.reviews__buttons {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 45px;
}

.reviews__prev,
.reviews__next {
  padding: 10px 40px;
  border: 1px solid #ececec;
  background-color: transparent;
}

.reviews__prev {
  border-right: none;
}

.reviews__write1 {
  display: none;
}

.reviews__write2 {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .reviews {
    display: flex;
    flex-direction: column;
    width: 718px;
    margin-right: 50px;
    margin-top: 20px;
    padding-bottom: 55px;
    background-image: url('../img/review.jpg');
    background-repeat: no-repeat;

    &::after {
      content: url('../img/zigzag-line-desktop.svg');
      bottom: -85px;
      left: 0px;
      height: 18px;
    }
  }

  .reviews__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 0;
  }

  .reviews__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 668px;
    margin-top: 75px;
    margin-bottom: 45px;
    margin-left: 50px;
  }

  .reviews__list {
    width: 668px;
    margin-left: 50px;
  }

  .reviews__write1 {
    display: flex;
    margin: 0;
    padding: 13px 35px;
  }

  .reviews__write2 {
    display: none;
  }

  .reviews__item {
    display: flex;
    flex-direction: column;
  }

  .reviews__text {
    font-size: 17px;
    margin-bottom: 55px;
  }

  .reviews__buttons {
    position: absolute;
    bottom: 55px;
    right: 0;
    margin: 0;
  }

  .reviews__prev,
  .reviews__next {
    padding: 10px 20px;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    width: 875px;
  }
}
