
.showcase {
  background-image: url('../img/hero-mobile.jpg');
  background-position: center top -20px;
}

.showcase__title {
  font-family: $font-bold;
  font-size: 27px;
  line-height: 30px;
  height: 210px;
  text-align: center;
  padding: 0 30px;
  padding-top: 70px;
  margin: 0;
  color: #010000;
}

@media (min-width: $tablet-width) {
  .showcase {
    background-image: url('../img/hero-desktop.jpg');
    background-position: center top 0px;
    position: relative;

    &::before,
    &::after {
    content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 10px; /*h/2*/
      height: 20px; /*h*/
      background: radial-gradient(closest-side, #fff, #fff 50%, transparent 50%);
      background-size: 38px 20px; /*h h*/
      background-position: 0px 10px; /*0 h/2*/
      background-repeat: repeat-x;
      z-index: 1;
    }

    &::after {
      background: radial-gradient(closest-side, transparent, transparent 40%,#fff 40%);
      background-size: 38px 20px; /*h h*/
      background-position: 19px -10px; /*h/2 -h/2*/
      background-repeat: repeat-x;
      bottom: -10px;
    }

    // Animate Wave
    // &::before,
    // &::after {
    //   left: -30px;
    //   animation: animateWave 1.5s linear infinite;
    // }

    // @keyframes animateWave {
    //   to {
    //     transform: translateX(30px);
    //   }
    // }
  }

  .showcase__title {
    font-size: 43px;
    line-height: 50px;
    min-height: 470px;
    padding-top: 155px;
  }
}

@media (min-width: $desktop-width) {
  .showcase {
    background-image: url('../img/hero-desktop.jpg');
    background-position: center top 0px;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 10px; /*h/2*/
      height: 20px; /*h*/
      background: radial-gradient(closest-side, #fff, #fff 50%, transparent 50%);
      background-size: 50px 20px; /*h h*/
      background-position: 0px 10px; /*0 h/2*/
      background-repeat: repeat-x;
      z-index: 1;
    }

    &::after {
      background: radial-gradient(closest-side, transparent, transparent 40%,#fff 40%);
      background-size: 50px 20px; /*h h*/
      background-position: 25px -10px; /*h/2 -h/2*/
      background-repeat: repeat-x;
      bottom: -10px;
    }
  }

  .showcase__title {
    font-size: 53px;
    line-height: 57px;
  }
}
