
.production {
  padding-bottom: 30px;
  margin-bottom: 60px;
  border: 1px solid #ededed;
  cursor: pointer;
  position: relative;

  &:hover {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);

    &::before {
      content: url('../img/play-bigger.svg');
    }
  }

  &::before {
    content: url('../img/play.svg');
    position: absolute;
    top: 135px;
    left: 80px;
  }
}

.production__video:active .production::before {
  opacity: 0.3;
}

.production__title1 {
  font-family: $font-bold;
  font-size: 17px;
  padding-left: 90px;
  margin: 25px 0;
  background-image: url('../img/video.svg');
  background-repeat: no-repeat;
  background-size: 35px 30px;
  background-position: 35px 5px;
}

.production__title2 {
  display: none;
}

.production__wrapper {
  margin-top: 25px;
}

.production__info {
  font-size: 13px;
  padding-left: 30px;
  padding-right: 40px;
  margin: 0;
  margin-bottom: 25px;
}

.production__order {
  width: 190px;
}

@media (min-width: $tablet-width) {
  .production {
    padding-bottom: 45px;
    margin-top: 50px;

    &::before {
      top: 190px;
      left: 280px;
    }
  }

  .production__title1 {
    display: none;
  }

  .production__title2 {
    font-family: $font-bold;
    font-size: 20px;
    display: flex;
    padding-left: 65px;
    margin: 35px 0;
    color: #000;
    background-image: url('../img/video.svg');
    background-repeat: no-repeat;
    background-size: 35px 30px;
    background-position: 0 -3px;
  }

  .production__info {
    font-size: 15px;
    line-height: 30px;
    padding: 0;
    margin-bottom: 40px;
  }

  .production__video {
    width: 100%;
  }

  .production__wrapper {
    padding: 0 40px;
  }

  .production__order {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .production {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    margin-top: 60px;
    margin-bottom: 100px;
  }

  .production__video {
    width: 680px;
    height: 100%;
  }

  .production__wrapper {
    width: 370px;
    box-sizing: border-box;
    padding-left: 80px;
    padding-right: 60px;
    margin-top: 20px;
  }

  .production__title2 {
    padding-top: 50px;
    padding-left: 0;
    margin-top: 20px;
    background-position: 0 0;
  }

  .production__info {
    margin-bottom: 50px;
  }
}
