
.products__list {
  @include reset-list;
}

.products__item {
  margin-bottom: 30px;
  border: 1px solid #ededed;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  }

  &:active {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: $tablet-width) {
  .products__item {
    display: flex;
    margin-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .products__list {
    display: flex;
    justify-content: space-between;
  }

  .products__item {
    display: block;
    width: 316px;
  }
}
