
.main-nav {
  display: flex;
  flex-direction: column;
}

.main-nav__wrapper {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.main-nav__logo-image--tablet {
  display: none;
}

.main-nav__logo-image--desktop {
  display: none;
}

.main-nav__toggle {
  padding: 0;
  border: none;
  background-color: transparent;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 15px;
    right: -90px;
    width: 25px;
    height: 2px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__list {
  @include reset-list;
}

.main-nav__delivery {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-nav {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }

  .main-nav__wrapper {
    width: 318px;
    justify-content: flex-start;
    padding-left: 50px;
    border-bottom: 1px solid #e7e7e7;
  }

  .main-nav__logo-image--mobile {
    display: none;
  }

  .main-nav__logo-image--tablet {
    display: flex;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__delivery {
    display: block;
    order: 4;
    margin: 0;
    position: absolute;
    top: 110px;
    right: 50px;
    z-index: 1;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    border-bottom: 1px solid #e7e7e7;
  }

  .main-nav__wrapper {
    order: 2;
    width: 150px;
    padding: 8px 0;
    border-bottom: none;
  }

  .main-nav__logo-image--tablet {
    display: none;
  }

  .main-nav__logo-image--desktop {
    display: flex;
  }

  .main-nav__delivery {
    order: 5;
    right: 100px;
  }
}
