
.site-list__item {
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 17px;
  line-height: 24px;
  padding: 28px 0;
  padding-left: 75px;
  border-bottom: 1px solid #ececec;

  &:first-child {
    border-top: 1px solid #ececec;
  }

  a {
    color: #000;
    text-decoration: none;
  }
}



@media (min-width: $tablet-width) {
  .site-list {
    @include reset-list;
    display: flex;
    justify-content: space-between;
    order: 3;
    width: 310px;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    order: 1;
  }
}

