
.user-list__item {
  font-family: "Open Sans Bold", Arial, sans-serif;
  font-size: 17px;
  line-height: 24px;
  padding: 28px 0;
  padding-left: 75px;
  border-bottom: 1px solid #ececec;
  cursor: pointer;
  color: #000;
  display: flex;
  align-items: center;
  position: relative;

  &:hover {
    .user-list__svg {
      fill: $light-green;
      opacity: 1;
    }

    .user-list__link {
      opacity: 0.6;
    }
  }

  &:active {
    .user-list__svg {
      opacity: 0.3;
    }

    .user-list__link {
      opacity: 0.3;
    }
  }
}

.user-list__svg {
  position: absolute;
  top: 30px;
  left: 30px;
  opacity: 0.2;
}

@media (min-width: $tablet-width) {
  .user-list {
    @include reset-list;
    display: flex;
    order: 2;
    width: 400px;
    border-bottom: 1px solid #e7e7e7;
  }

  .user-list__item {
    border-bottom: none;

    &--search {
      padding-left: 83px;
      border-right: 1px solid #e7e7e7;
      border-left: 1px solid #e7e7e7;
      a {
        display: none;
      }

      &::before {
        top: 33px;
      }
    }

    &--cart {
      display: flex;
      align-items: center;
      padding-left: 80px;
      padding-right: 50px;
      border-bottom: none;

      &::before {
        top: 33px;
      }
    }
  }

  .user-list__svg {
    &--search {
      padding-top: 5px;
    }

    &--cart {
      padding-top: 5px;
    }
  }

  .user-list__link {
    &--search {
      display: none;
    }

    &--cart {
      padding-top: 5px;
    }
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    order: 3;
    width: 350px;
    margin-right: 100px;
    border-bottom: none;
  }

  .user-list__item {
    &--cart {
      padding-right: 0;
    }
  }
}
