
.contact-info__list {
  @include reset-list;
}

.contact-info__item {
  margin-top: 25px;
}

.contact-info__title {
  margin-top: 0;
  margin-bottom: 5px;
}

.contact-info__tel {
  margin-bottom: 0;
}

.contact-info__email {
  margin-bottom: 0;

  &::after {
    width: 180px;
  }
}

.contact-info__input {
  width: 100%;
  height: 40px;
  padding: 0 5px;
  padding-right: 45px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #000;
  background-color: transparent;

  &::placeholder {
    opacity: 0.5;
  }

  &:hover {
    border-bottom-color: $light-green;
    background-color: transparent;
  }

  &:focus {
    outline: 1px solid $light-green;
    border-bottom-color: $light-green;
    background-color: transparent;
  }

  &:active {
    background-color: transparent;
  }

  &--tel {
    background-image: url('../img/phone.svg');
    background-repeat: no-repeat;
    background-position: center right 10px;

    &:hover {
      background-image: url('../img/phone-colored.svg');
    }

    &:focus {
      background-image: url('../img/phone-colored.svg');
    }
  }

  &--email {
    background-image: url('../img/email.svg');
    background-repeat: no-repeat;
    background-position: center right 10px;

    &:hover {
      background-image: url('../img/email-colored.svg');
    }

    &:focus {
      background-image: url('../img/email-colored.svg');
    }
  }
}

@media (min-width: $tablet-width) {
  .contact-info {
    padding: 45px 50px;
    background-color: #f1f1f1;
  }

  .contact-info__item {
    display: flex;
  }

  .contact-info__title {
    flex-basis: 25%;
    display: flex;
    align-items: center;
    margin: 0;
  }

  .contact-info__input {
    font-size: 19px;
    line-height: 18px;
    flex-basis: 75%;
    background-color: transparent;

    &::placeholder {
      font-size: 19px;
      line-height: 18px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contact-info {
    padding-left: 100px;
    padding-right: 100px;
  }

  .contact-info__title {
    flex-basis: 16.7%;
    justify-content: center;
  }

  .contact-info__input {
    flex-basis: 66.6%;
  }
}

