
.extra__title {
  margin-top: 25px;
  margin-bottom: 20px;
}

.extra__text {
  width: 100%;
  min-height: 140px;
  padding: 15px;
  box-sizing: border-box;
  border: 2px solid #444444;

  &::placeholder {
    opacity: 0.5;
  }

  &:focus {
    outline: 1px solid $light-green;
  }
}

@media (min-width: $tablet-width) {
  .extra {
    display: flex;
    padding: 50px 0;
  }

  .extra__title {
    flex-basis: 25%;
    margin: 0;
  }

  .extra__label {
    margin-top: 15px;
  }

  .extra__text {
    flex-basis: 75%;
    font-size: 19px;
    line-height: 18px;

    &::placeholder {
      font-size: 19px;
      line-height: 18px;
    }
  }
}
