
.fullname__list {
  @include reset-list;
}

.fullname__item {
  display: flex;
  flex-direction: column;
}

.fullname__title {
  margin-top: 15px;
  margin-bottom: 0px;
}

.fullname__label {
  font-family: $font-bold;
  font-size: 17px;
  line-height: 18px;
  margin-top: 20px;
}

.fullname__input {
  height: 40px;
  padding: 0 5px;
  border: none;
  border-bottom: 2px solid #000;

  &::placeholder {
    opacity: 0.5;
  }

  &:focus {
    outline: 1px solid $light-green;
  }
}

@media (min-width: $tablet-width) {
  .fullname {
    display: flex;
    padding: 50px 0;
  }

  .fullname__title {
    flex-basis: 25%;
    margin-top: 25px;
  }

  .fullname__list {
    flex-basis: 75%;
  }

  .fullname__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 0;
  }

  .fullname__label {
    font-size: 19px;
    color: #000;
    margin: 0;
  }

  .fullname__input {
    font-size: 19px;
    line-height: 18px;
    width: 100%;
    margin-left: 25px;

    &::placeholder {
      font-size: 19px;
      line-height: 18px;
    }
  }
}

@media (min-width: $desktop-width) {
  .fullname__title {
    flex-basis: 16.7%;
    text-align: center;
  }

  .fullname__list {
    flex-basis: 66.6%;
  }
}
