
.order-form__type {
  margin-bottom: 15px;
}

.order-form__title {
  font-family: $font-bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
  color: $light-green;
  display: block;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 8px;
    right: 0;
    width: 198px;
    height: 1px;
    background-color: $light-green;
  }
}

.order-form__info {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  margin-top: 10px;
}

.order-form__submit {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 55px;
  background-color: transparent;
}

@media (min-width: $tablet-width) {
  .order-form {
    width: 768px;
    margin: 0;
  }

  .order-form__type,
  .order-form__fullname,
  .order-form__extra,
  .order-form__wrapper {
    width: 668px;
    margin: 0 auto;
  }

  .order-form__title {
    &::after {
      display: none;
    }
  }

  .order-form__wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .order-form__submit {
    font-size: 17px;
    line-height: 16px;
    width: auto;
    padding-right: 30px;
    padding-left: 30px;
    margin: 0;
    margin-bottom: 50px;
  }

  .order-form__info {
    font-size: 17px;
    line-height: 30px;
    margin-top: 15px;
  }
}

@media (min-width: $desktop-width) {
  .order-form {
    width: 1250px;
    margin: 0;
  }

  .order-form__type,
  .order-form__fullname,
  .order-form__extra,
  .order-form__wrapper {
    width: 1050px;
    margin: 0 auto;
  }
}
