
.page-intro {
  font-size: 13px;
  margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .page-intro {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-intro {
    padding: 0 175px;
    box-sizing: border-box;
  }
}
