
.social {
  border-bottom: 1px solid #e5e5e5;
}

.social__list {
  @include reset-list;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 25px 0;
}

.social__link {
  margin-right: 40px;

  &--twitter {
    margin-right: 0;
  }
}

@media (min-width: $tablet-width) {
  .social {
    width: 145px;
    border: none;
  }
}

